* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}

header {
  background-color: var(--tertiary);
  padding: 3% 0px 0% 0px;
  justify-content: center;
}

.header-container {
  background-color: var(--secondary);
}

.webpage-title {
  text-align: center;
  color: var(--tertiary);
  font-size: 3rem;
}

ul {
  text-align: center;
  list-style-type: none;
}

ul [data-nav-link],
.contact-me-ul {
  margin: 20px 0px;
}

.contact-me-ul li {
  color: var(--primary);
  padding: 5px;
}

a:link,
a:active,
a:visited {
  color: var(--secondary);
  background-color: transparent;
  padding: 10px;
  margin: 10px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-image: url("../images/02-hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(84, 150, 177, 0.493);
  background-blend-mode: multiply;
}

.cool-subtitle {
  width: 100%;
  padding: 0px 0px 0px 0px;
  text-align: center;
  background-color: var(--secondary);
  color: var(--tertiary);
  z-index: 1;
}

.about-me-header,
.work-heading,
.contact-me {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
}

#about-me,
#work-heading,
#contact-me {
  display: inline-block;
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}

#work {
  display: inline-block;
  color: var(--primary);
  border-bottom: 3px solid var(--primary);
}

.about-me-paragraph {
  padding: 0px 20px 0px 20px;
}

/* ! ::::::::::: WORK SECTION ::::::::::: */
.images-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 20px;
}

.img-1-container {
  position: relative;
}

.img-border {
  border: 5px solid var(--secondary);
}

.img-label {
  position: absolute;
  top: 420px;
  background-color: var(--secondary);
  font-size: 2rem;
  padding: 1rem;
  z-index: 1;
}

.img-1 {
  position: relative;
  width: 1177px;
  height: 575px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4d565c;
  background-blend-mode: overlay;
  transition: all 1s ease-out;
}

.img-1:hover {
  background-color: #636c72c5;
  background-blend-mode: overlay;
  transition: all 1s ease-in;
  cursor: pointer;
}

.img-2,
.img-3,
.img-4,
.img-5 {
  background-color: #4d565c;
  background-blend-mode: overlay;
  transition: all 1s ease-out;
}

.img-2,
.img-3,
.img-4,
.img-5:hover {
  background-color: #717c83c5;
  background-blend-mode: overlay;
  transition: all 1s ease-in;
  cursor: pointer;
}

.img-2-label {
  position: absolute;
  top: 127px;
  background-color: var(--secondary);
  font-size: 2rem;
  padding: 1rem;
  z-index: 1;
}

.img-2 {
  width: 579px;
  margin: 0px 10px 20px;
  height: 275px;
  /* min-width: 100px;
  background-image: url("../images/player-one-reads.jpg");
  background-size: 50%; */
}

.img-3 {
  width: 579px;
  margin: 0px 10px 20px;
  height: 275px;
  min-width: 300px;
  object-fit: none;
  margin: 0px 10px 20px;
  margin-bottom: 20px;
  background-size: 160%;
  background-image: url("../images/02-portfolio-2.jpg");
}

.img-4 {
  width: 579px;
  margin: 0px 10px 20px;
  height: 275px;
  min-width: 300px;
  margin-bottom: 20px;
  object-fit: none;
  object-position: center;
  background-size: 170%;
  background-image: url("../images/02-portfolio-3.jpg");
}

.img-5 {
  width: 579px;
  margin: 0px 10px 20px;
  height: 275px;
  min-width: 300px;
  margin-bottom: 20px;
  object-fit: fill;
  object-position: center;
  background-size: 170%;
  background-image: url("../images/02-run-buddy.jpg");
}

.img-2,
.img-3,
.img-4,
.img-5 {
  background-color: #3d4347;
  background-blend-mode: overlay;
  transition: all 1.5s ease-out;
}

.img-2:hover,
.img-3:hover,
.img-4:hover,
.img-5:hover {
  background-color: #656e74c5;
  background-blend-mode: overlay;
  transition: all 1.5s ease-in;
}

/*! LINK ANIMATION - DON'T DELETE BELOW THIS LINE */

a {
  display: inline-block;
  font-size: 1.3rem;
  /* relative so that the pseudo element after is position relative
   to this `a` element. */
  position: relative;
  padding: 5px;
  border-bottom: 3px solid var(--secondary);
  color: var(--secondary);
  text-decoration: none;
  color: var(--secondary);
  z-index: 1;
}

a::after {
  /* this pseudo element will be place in an absolute position
   within the `a` parent element */
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* `scaleY` will scale down the pseudo element to 0 so that
    is not visible. */
  transform: scaleY(0);
  transform-origin: bottom center;
  background: var(--secondary);
  z-index: -1;
  /* `transform` is the time it will take for the transition
    to complete. */
  transition: transform 0.8s;
}

a:hover {
  color: var(--dark);
}

a:hover::after {
  /* scales the pseudo element up 100% so that is visible */
  transform: scaleY(1);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .nav-li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .images-section {
    align-items: center;
    justify-content: center;
  }

  #work {
    display: inline-block;
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1200px) {
  header {
    background-color: var(--tertiary);
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
  }

  p {
    max-width: 1200px;
  }

  .header-container {
    display: flex;
  }

  .header-flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .banner {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 250px 0px;
  }

  .cool-subtitle {
    display: block;
    width: 340px;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .about-me-header,
  .work-heading,
  .contact-me {
    text-align: right;
    padding: 0px 10px 0px 40px;
    width: 200px;
  }

  #work {
    display: inline-block;
    color: var(--primary);
    border-bottom: none;
  }

  .webpage-title {
    padding: 3px 15px 3px 175px;
    background-color: var(--secondary);
    color: var(--tertiary);
    font-size: 3rem;
  }

  ul {
    text-align: right;
    list-style-type: none;
  }

  .nav-li {
    margin-right: 220px;
  }

  aside {
    display: inline-block;
    font-size: 2.5rem;
    text-align: right;
    padding-right: 10px;
    color: var(--primary);
    border-right: 3px solid var(--primary);
    max-width: 300px;
  }

  section {
    display: inline-block;
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
    align-content: center;
    justify-content: center;
    min-width: 500px;
    max-width: 1200px;
  }

  #about-me {
    display: inline-block;
    color: var(--primary);
    border-bottom: none;
  }

  .about-me-paragraph {
    padding: 0px 20px 0px 20px;
  }

  .section-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    column-gap: 10px;
  }

  .about-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    margin: 20px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
    margin-bottom: 40px;
  }

  .contact-ul-container {
    flex: 2;
    width: 1200px;
    padding: 0px 20px 0px 20px;
  }

  #contact-me {
    border: none;
  }

  .contact-me-ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 1.2rem;
  }

  .contact-me-ul li {
    border-bottom: 3px solid var(--primary);
    color: var(--primary);
    padding: 5px;
  }

  .images-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 0px 0px;
  }

  /* :::::::::::::::::: */
  /* CHANGE IMAGES HERE */
  /* :::::::::::::::::: */
  .img-1 {
    position: relative;
    max-width: 100%;
    height: 575px;
    background-image: url("../images/heartfelt-rsvp.png");
    background-size: 101%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4d565c;
    background-blend-mode: overlay;
    transition: all 1s ease-out;
  }

  .img-2 {
    height: 275px;
    max-width: 50%;
    background-size: auto;
    background-image: url("../images/player-one-reads.png");
    background-size: 100%;
    padding: 0px 0px 0px 0px;
  }

  .img-3 {
    height: 275px;
    max-width: 50%;
    object-fit: none;
    background-size: 160%;
    background-image: url("../images/02-portfolio-2.jpg");
  }
  .img-4 {
    margin: 0px 10px 20px;
    height: 275px;
    max-width: 50%;
    object-fit: none;
    object-position: center;
    background-size: 170%;
    background-image: url("../images/02-portfolio-3.jpg");
  }

  .img-5 {
    margin: 0px 10px 20px;
    height: 275px;
    max-width: 50%;
    object-fit: fill;
    object-position: center;
    background-size: 170%;
    background-image: url("../images/02-run-buddy.jpg");
  }
}
